.addfrom{
    // width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100vh;
    box-shadow: 0px 0px 15px #999;
    padding: 0px 250px;
    .ant-form-item{
        textarea{
            width: 700px;
            height: 80px;
            line-height: 22px;
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            resize: none;
            padding-left: 12px;
        }
        textarea:focus{
            outline: none;
            border-color: #40a9ff;
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
        textarea:hover{
            border-color: #40a9ff;
        }
    }
}